/* colors */
$site-bg: #fff;
$dark-gray: #666666;
$medium-gray: #AAAAAA;
$normal-gray: #D8D8D8;
$light-gray: #EAEAEA;
$orange: #FF7E00;
$light-orange: #FFA000;
$lighter-red: #FFCFCF;
$light-red: #E5A3A3;
$light-green: #d4efd7;
$red: #CC0000;
$blue: #0077CC;
$yellow: #ffe400;
$green: #94CC3D;

/* fallback fonts */
$font-fallback-stack: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;

/* font sizes */
$font-small-size: 9px;
$font-normal-size: 12px;
$font-topnav-size: 20px;
$font-large-size: 20px;
$font-xlarge-size: 30px;

/* font colors */
$font-light: #FFF;
$font-dark: #424242;
$font-meta: #777;
$font-green: #009245;
$font-dark-red: #801B1B;
$font-black: #000000;
$link-color: #007EFF;

/* radius */
$corner-small: 6px;
$corner-large: 10px;

/* spacing */
$space-10: 10px;
$space-20: 20px;
$space-30: 30px;
$space-40: 40px;
$space-50: 50px;
$space-100: 100px;